name: Continuous Integration

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11.5
        ports: ["5432:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: password
        ports: ["3306:3306"]
        options: --health-cmd "mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 5

    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.0.6", "3.1.4", "3.2.2"]
        gemfile: 
          - "gemfiles/Gemfile.6.1.mysql"
          - "gemfiles/Gemfile.6.1.pg"
          - "gemfiles/Gemfile.7.0.mysql"
          - "gemfiles/Gemfile.7.0.pg"
    env:
      BUNDLE_GEMFILE: ${{github.workspace}}/${{matrix.gemfile }}
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby }}"
    - name: Bundle
      run: |
        gem install bundler:2.2.15
        bundle install

    - name: Run Tests
      env:
        PGHOST: localhost
        PGUSER: postgres
      run: bundle exec rspec
